.map_image {
    width: 50%;
    height:50%;
}

mat-grid-tile {
    background: red;
  }

  .internalMatGrid{  border:1px solid red; min-width:80%; min-height: 80%;}

  :host {
      min-width: 100%;
      min-height: 100%;
  }


  .RoomDiv{
      width: 100%;
      height:100%;
      flex-direction: column;
  }

  p {
      margin:auto;
  }

  h2 {
      margin:auto;
  }

