.map_image {
    width: 60%;
    height:60%;
}

body {
    height:100vh;
}

mat-grid-tile {
    margin-top: 40px;
    background:cornflowerblue;
    border-radius: 20px 20px 20px 20px;
    -webkit-box-shadow: 0px 0px 16px -6px #000000; 
box-shadow: 0px 0px 16px -6px #000000;
  }



  .room_table {
    height:100%;
    max-width: 100%;
    overflow-y: scroll;
  }

  table {
      margin-top: auto;
      margin-bottom: auto;
      width: 90%;
  }

  .RoomDiv{
      flex-direction: column;
  }

  

