
html {
    background-color: cornflowerblue;
    height:100vh;
}

body {
    margin: 0px !important;
}

.wrapper {
    padding-top: 10% !important;
}

.doesthiswork {
    width:1000px;
    height:1000px;
    background-color: crimson;
}

.login-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    padding-top: 50px;
    width:10%;
    padding: 5%;

    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
}

mat-card-header, mat-card-content {
    display: flex;
    justify-content: center;
}

.login-button {
    display: flex;
    justify-content: center;
    margin: auto !important;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: cornflowerblue !important;
   }

   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: cornflowerblue !important;
  } 

  ::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: cornflowerblue !important;;
   }

   ::ng-deep.mat-button-focus {
    background-color: cornflowerblue;
  }
  .mat-success{
      background-color: cornflowerblue
  }